@import './typography.scss';
@import './colors.scss';

.contact {
    display: flex;
    width: 100%;
    padding: 25px 120px;
    background-color: $color30;

    .header {
        h2 {

        }
    }

    .flex {

    }
}